<header>
  <ul>
    <li>ヘッダー1</li>
    <li>ヘッダー2</li>
    <li>ヘッダー3</li>
    <li>ヘッダー4</li>
    <li>ヘッダー5</li>
    <li>ヘッダー6</li>
    <li>ヘッダー7</li>
    <li>ヘッダー8</li>
    <li>ヘッダー9</li>
    <li>ヘッダー10</li>
  </ul>
  <div style="border-bottom: 1px solid #333; padding-top: 3px;"></div>
</header>
<h3>index</h3>
<b>記事一覧</b>
<ul>
  <li>
    <%= link_to "自然", articles_article1_path %>
  </li>
  <li>
    <%= link_to "食べ物", articles_article2_path %>
  </li>
  <li>
    <%= link_to "歴史", articles_article3_path %>
  </li>
  <li>
    <%= link_to "温泉", articles_article4_path %>
  </li>
</ul>
<footer>
  <div style="border-bottom: 1px solid #333; padding-top: 3px;"></div>
  <ul>
    <li>フッター1</li>
    <li>フッター2</li>
    <li>フッター3</li>
    <li>フッター4</li>
    <li>フッター5</li>
    <li>フッター6</li>
    <li>フッター7</li>
    <li>フッター8</li>
    <li>フッター9</li>
    <li>フッター10</li>
  </ul>
</footer>
